.modal {
  position: fixed;
  inset: 0;
  background: #1b1b1b70;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 60px;
  max-width: 428px;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__cancel path {
  transition: all .3s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: #1f1f1f;
}

.modal__title {
  font-size: 42px;
  color: #000;
  line-height: 0.9;
  margin-bottom: 30px;
  text-align: center;
}

.modal__form-label {
  margin-bottom: 30px;
}

.field {
  display: block;
  position: relative;
}

.field span {
  position: absolute;
  font-size: 11px;
  color: #000000;
  top: 12px;
  left: 28px;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.field__input {
  display: block;
  width: 100%;
  background: #53535300;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 19px 42px 19px 28px;
  font-size: 16px;
  transition: all .4s;
}

.field__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.field__input:hover {
  border-color: #000;
}

.field__input::placeholder {
  color: #3a3a3a;
  transition: all .4s;
}

.field__input:hover::placeholder {
  color: #000;
}

.field__input:focus {
  padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
  opacity: 1;
  visibility: visible;
}

.modal-button {
  justify-self: center;
}