  .wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .body {
    font-family: "Readex", "Inter", "Arial", sans-serif;
    line-height: 1.2;
    background: #fff;
    color: #000;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
  }

  .main {
    flex-grow: 1;
  }

  .container {
    max-width: 1325px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
  }

  .button {
    font-family: "Inter";
    width: 170px;
    height: 50px;
    padding: 14px 53px;
    border: 1px solid #000;
    border-radius: 200px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }


  button,
  svg,
  .header__action button,
  .header__action a {
    background: none;
  }

  /* ======================= */


  .header__top {
    padding: 30px 0;
  }

  .header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    position: relative;
    margin-left: 34px;
  }

  .nav__item:first-child {
    margin-left: 0;
    grid-area: ap;
  }

  .nav__item:last-child {
    margin-left: 44px;
  }

  .nav__item img {
    vertical-align: middle;
  }

  .nav__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 130px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
    border-radius: 0.5rem;
    visibility: hidden;
    padding: 6px;
    z-index: 10;
  }

  .nav__item--opened-dropdown .nav__dropdown {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .nav__dropdown a {
    display: block;
    padding: 6px 0;
    color: #000000;
    font-size: 15px;
  }

  .nav__dropdown a:hover {
    opacity: .7;
  }


  .nav__link {
    font-family: "Inter";
    font-size: 14px;
    text-transform: uppercase;
  }

  .burger-icon {
    z-index: 11;
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .burger-icon span,
  .burger-icon span::before,
  .burger-icon span::after {
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 100px;
    display: block;
    background: #000;
    transition: all .4s;
  }

  .burger-icon span {
    position: relative;
  }

  .burger-icon span::before,
  .burger-icon span::after {
    content: '';
    position: absolute;
  }

  .burger-icon span::before {
    top: -8px;
  }

  .burger-icon span::after {
    bottom: -8px;
  }

  .body--opened-menu .burger-icon span {
    background: transparent;
  }

  .body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
  }

  .body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }


  .header__action {
    display: flex;
    padding: 8px 20px 8px 13px;
    gap: 13px;
    align-items: center;
    background: transparent;
  }


  .header__cart {
    padding: 0 8px;
  }

  /* ================================== */

  .main__new-products {
    margin-top: 28px;
  }


  .new-products__slider {
    background: #dce5e2;
    border-radius: 32px;
    padding: 0px 30px;
    position: relative;
    overflow: hidden;
  }


  .new-products__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 0 19px;
    width: 100%;
  }


  .new-products__info {
    max-width: 590px;
    width: 100%;
  }

  .new-products__title {
    font-size: 50px;
  }

  .new-products__text {
    margin-top: 19px;
    margin-bottom: 30px;
    font-family: "Inter";
  }

  .new-products__img {
    max-width: 647px;
    width: 100%;
    flex-shrink: 0;
  }

  .new-products__img img {
    width: 100%;
  }


  .swiper-pagination .new-products__pagination {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .new-products__pagination .swiper-pagination-bullet {
    width: 194px;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    opacity: 1;
    transition: background .3s ease;
  }

  .new-products__pagination .swiper-pagination-bullet-active {
    background: #000;
  }


  .new-products__prev,
  .new-products__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: px;
  }

  .new-products__prev {
    left: 17px;

  }

  .new-products__next {
    right: 17px;
  }

  .new-products__prev svg,
  .new-products__next svg {
    pointer-events: none;
  }

  /* ====================================== */

  .main__catalog {
    margin-top: 75px;
  }

  .catalog__top {
    text-align: center;
  }

  .catalog__title {
    font-size: 42px;
    line-height: 1.25;
  }

  .catalog__text {
    margin-top: 9px;
    display: flex;
    font-size: 14px;
    max-width: 628px;
    justify-self: center;
  }

  .catalog__categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1294px;
    column-gap: 16px;
    margin-top: 56px;
  }

  .catalog__item {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  }

  .catalog__item:nth-child(1) {
    padding: 0 42px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    max-height: 472px;
  }

  .catalog__item:nth-child(2) {
    max-height: 792px;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  .catalog__item:nth-child(3) {
    max-height: 792px;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
  }

  .catalog__item:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    max-height: 270px;
    padding-right: 42px;
  }

  .catalog__item-title {
    font-size: 15px;
    line-height: 1.28;
    font-family: "Inter";
    text-align: end;
  }

  .catalog__item-text {
    font-size: 32px;
  }

  .catalog__item:nth-child(1) .catalog__item-text {
    text-align: end;
  }

  .catalog__item:nth-child(2) .catalog__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .catalog__item:nth-child(2) .catalog__item-title {
    margin-top: 41px;
  }

  .catalog__item:nth-child(3) .catalog__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .catalog__item:nth-child(3) .catalog__item-text {
    margin-bottom: 42px;
    text-align: center;
  }

  .catalog__item:nth-child(4) .catalog__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .catalog__info {
    text-align: end;
  }

  /* ==================================== */

  .main__popular-products {
    margin-top: 72px;
  }

  .popular-products__inner {
    display: flex;
    flex-direction: column;
  }

  .popular-products__top {
    text-align: center;
  }

  .popular-products__title {
    font-size: 42px;
    line-height: 1.25;
    margin-bottom: 9px;
  }

  .popular-products__text {
    font-size: 13px;
    line-height: 1.3;
  }

  .popular-products__main {
    display: flex;
    gap: 28px;
    margin-top: 31px;
  }

  .popular-products__img {
    padding: 28px;
  }

  .popular-products__item-title {
    font-size: 22px;
    line-height: 1.25;
    margin: 9px 0;
  }

  .popular-products__item-text {
    font-family: "Inter";
    font-size: 14px;
    color: #4b4b4b;
    margin-bottom: 25px;
  }

  .popular-products__price {
    font-family: "Inter";
    font-size: 18px;
  }

  /* ==================================== */

  .main__offers {
    margin-top: 74px;
  }

  .offers__inner {
    display: flex;
    flex-direction: column;
  }

  .offers__top {
    text-align: center;
  }

  .offers__title {
    font-size: 42px;
    line-height: 1.25;
    margin-bottom: 9px;
  }

  .offers__text {
    font-size: 13px;
    line-height: 1.3;
  }

  .offers__main {
    display: flex;
    gap: 28px;
    margin-top: 56px;
  }

  .offers__item {
    background: #f8f9fa;
    border-radius: 16px;
    padding: 41px 77px 0 77px;
    text-align: center;
    max-width: 413px;
    width: 100%;
  }

  .offers__item-text {
    font-size: 13px;
    line-height: 1.3;
  }

  .offers__item-title {
    font-size: 28px;
    line-height: 1.25;
  }

  .offers__item-button {
    margin: 30px 0;
    justify-self: center;
  }

  .offers__item-img {
    display: flex;
    justify-self: center;
  }

  .offers__item-img img {
    width: 100%;
  }

  /* ==================================== */

  .main__ideas {
    margin-top: 74px;
  }

  .ideas__inner {
    display: flex;
    flex-direction: column;
  }

  .ideas__top {
    text-align: center;
    margin-bottom: 56px;
  }

  .ideas__top-title {
    font-size: 42px;
    line-height: 1.25;
    margin-bottom: 9px;
  }

  .ideas__top-text {
    font-size: 13px;
    line-height: 1.3;
  }

  .ideas__content {
    display: flex;
    gap: 35px;
  }

  .ideas__img {
    display: block;
    max-width: 100%;
  }

  .ideas__quotes {
    padding: 14px 0;
  }

  .ideas__text {
    font-family: "Inter";
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 28px;
  }

  .ideas__text:last-child {
    margin-bottom: 0;
  }

  .ideas__link {
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 74px;
  }

  .ideas__link svg {
    margin-left: -5px;
    vertical-align: sub;
  }

  /* ==================================== */

  .main__search-subscribe {
    margin-top: 74px;
    margin-bottom: 19px;
  }

  .search-subscribe__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search {
    max-width: 650px;
    width: 100%;
  }

  .search__title {
    font-size: 42px;
    line-height: 1.25;
    text-align: center;
  }

  .search__form {
    border: 1px solid #c5c5c5;
    background: #f8f9fa;
    border-radius: 100px;
    padding: 18px 0 18px 17px;
    margin: 24px 0 18px 0;
  }

  .search__button {
    vertical-align: middle;
    margin-right: 20px;
  }

  .search__input {
    font-family: "Inter";
    font-size: 14px;
    color: #000;
  }

  .search__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .search__list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
  }

  .search__item {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    flex-shrink: 0;
  }

  .search__item-button {
    font-size: 14px;
    font-family: "Inter";
    padding: 12px 22px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    background: #dce5e2;
    border-radius: 16px;
    max-width: 935px;
    width: 100%;
    padding: 47px 10px 44px 10px;
  }

  .subscribe__title {
    font-size: 42px;
    line-height: 1.25;
    text-align: center;
  }

  .subscribe__text {
    font-family: "Inter";
    text-align: center;
    margin-top: 9px;
  }

  .subscribe__img {
    display: block;
    justify-self: center;
    margin: 14px 0;
    max-width: 100%;
  }

  .subscribe__img img {
    width: 100%;
  }

  .subscribe__form {
    display: flex;
    border: 1px solid #000;
    background: #dce5e2;
    border-radius: 100px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
  }

  .subscribe__input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 17px 32px;
    outline: none;
  }

  .subscribe__button {
    background: #000;
    padding: 17px 33px;
    color: #fff;
    font-family: "Inter";
    font-size: 14px;
    border: none;
  }


  /* ==================================== */

  .footer {
    background: #f8f9fa;
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .footer__inner {
    display: grid;
    gap: 40px 30px;
    grid-template-columns: 1.3fr repeat(4, 0.7fr);
  }


  .footer__col--about {
    padding-right: 60px;
  }


  .footer__col-title {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1.25;
  }

  .footer__col-text {
    margin-top: 18px;
    font-family: "Inter";
    line-height: 1.2;
  }


  .footer__col-list li {
    margin-bottom: 10px;
  }

  .footer__col-link {
    font-family: "Inter";
    line-height: 1.27;
    font-size: 17px;
    position: relative;
  }


  .footer__col-link::after,
  .footer__col-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #06aef0, #000000);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }

  .footer__col-link::before {
    top: -5px;
    transform-origin: left;
  }

  .footer__col-link:hover::after,
  .footer__col-link:hover::before {
    transform: scaleX(1);
  }

  .footer__bottom {
    grid-column: 1 / -1;
  }

  .footer__line {
    width: 100%;
    height: 1px;
    background: #DCE5E2;
    margin-bottom: 25px;
  }

  .footer__made {
    padding-top: 52px;
  }

  .footer__made span {
    font-family: "Readex";
    font-size: 18px;
  }

  .footer__made-link {
    font-family: "Inter";
    font-size: 18px;
  }

  .footer__made-link svg {
    stroke-width: 2px;
    stroke: #08090d;
    vertical-align: middle;
    margin-left: 3px;
  }

  /* ========================================== */
  /* ========================================== */
  /* ========================================== */

  @media (max-width: 1310px) {
    .popular-products__main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px;
      text-align: center;
    }

    .popular-products__item {
      width: 300px;
    }

    .popular-products__img {
      padding: 22px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .popular-products__top {
      text-align: center;
    }

    /* ============= */

    .offers__main {
      flex-wrap: wrap;
      justify-content: center;
    }

    .offers__item {
      padding: 32px 40px 0;
    }

    .offers__title {
      font-size: 36px;
    }

    .offers__item-title {
      font-size: 24px;
    }
  }

  @media (max-width: 1160px) {
    .new-products__title {
      font-size: 40px;
    }

    .new-products__slide {
      gap: 15px;
    }

    .new-products__img {
      max-width: 450px;
    }

    /* ================ */

    .catalog__categories {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 16px;
    }

    .catalog__item:nth-child(1) {
      grid-column: 1 / 4;
      grid-row: 1;
      max-height: none;
    }

    .catalog__item:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2;
      max-height: none;
    }

    .catalog__item:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 2;
      max-height: none;
    }

    .catalog__item:nth-child(4) {
      grid-column: 1 / 4;
      grid-row: 3;
      max-height: none;
      padding-right: 20px;
    }

    /* ================ */

    .ideas__content {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

  }

  @media (max-width: 900px) {
    .header__nav {
      position: fixed;
      background: #fff;
      inset: 0;
      z-index: 10;
      padding: 26vh 15px 30px;
      font-size: 24px;

      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all .4s;

      display: block;
      order: 3;
    }

    .nav__list {
      flex-direction: column;
      align-items: center;
      gap: 115px;
    }

    .nav__link {
      font-size: 20px;
    }

    .body--opened-menu .header__nav {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
    }

    .burger-icon {
      display: flex;
      order: 2;

    }

    .header__top-inner {
      align-items: center;
    }

    .header__action {
      order: 1;
      margin-left: auto;
      padding: 0;
    }

    /* ============= */

    .new-products__slide {
      flex-direction: column;
      text-align: center;
      padding: 30px 10px;
    }

    .new-products__info {
      max-width: 100%;
      text-align: center;
    }

    .new-products__info .button {
      margin: 0 auto;
      display: block;
    }

    .new-products__title {
      font-size: 32px;
    }

    .new-products__img {
      max-width: 380px;
      margin: 0 auto;
    }

    .new-products__prev,
    .new-products__next {
      top: auto;
      bottom: 80px;
      transform: none;
    }

    .new-products__prev {
      left: 15px;
    }

    .new-products__next {
      right: 15px;
    }

    .swiper-pagination .new-products__pagination {
      bottom: 20px;
    }

    /* ============= */

    .footer__inner {
      grid-template-columns: repeat(3, 1fr);
      gap: 35px 25px;
    }

    .footer__col--about {
      grid-column: 1 / -1;
      text-align: center;
      margin: 0 auto;
      padding-right: 0;
    }

    .footer__logo img {
      display: block;
      margin: 0 auto;
    }


    .footer__col-text {
      max-width: 480px;
      margin: 18px auto 0;
    }

    .footer__bottom {
      grid-column: 1 / -1;
      margin-top: 10px;
    }
  }

  @media (max-width: 720px) {
    .catalog__categories {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .catalog__title {
      font-size: 34px;
    }

    .catalog__text {
      font-size: 13px;
    }

    .catalog__item-text {
      font-size: 26px;
    }

    .catalog__item:nth-child(2) {
      max-width: 182px;
    }

    .catalog__item-img {
      max-width: 160px;
    }

    /* ========== */

    .popular-products__main {
      justify-content: center;
    }

    /* ============== */

    .ideas__text {
      font-size: 20px;
    }
  }

  @media (max-width: 600px) {

    .new-products__title {
      font-size: 28px;
    }

    .new-products__text {
      font-size: 14px;
    }

    .new-products__img {
      max-width: 300px;
    }

    .new-products__prev,
    .new-products__next {
      bottom: 70px;
    }

    /* ================ */

    .ideas__top-title {
      font-size: 35px;
    }

    /* ================ */

    .search__title {
      font-size: 35px;
    }

    .subscribe__title {
      font-size: 35px;
    }

    /* ================ */
    .footer__top {
      justify-content: center;
      text-align: center;
    }

    .footer__col {
      width: 100%;
      text-align: center;
    }

    .footer__col-list {
      align-items: center;
    }

    .footer__logo img {
      display: block;
      margin: 0 auto;
    }

    .footer__col--about {
      margin: 0 auto;
    }

    .footer__col-text {
      margin: 18px auto 0;
      max-width: 320px;
    }

    .footer__bottom {
      text-align: center;
    }

    .footer__made {
      padding-top: 20px;
      text-align: center;
    }

  }

  @media (max-width: 450px) {
    .new-products__pagination .swiper-pagination-bullet {
      width: 60px;
    }

    .new-products__title {
      font-size: 24px;
    }

    .new-products__img {
      max-width: 240px;
    }

    .new-products__prev,
    .new-products__next {
      bottom: 60px;
    }

    /* ========== */

    .popular-products__title {
      font-size: 35px;
    }

    /* ========== */
    .catalog__categories {
      column-gap: 10px;
    }

    /* ============ */

    .offers__item {
      padding: 25px 0 0 0;
    }

    .offers__item-img {
      max-width: 100%;
    }

    /* ============ */

    .ideas__text {
      font-size: 18px;
    }

    .ideas__top-title {
      font-size: 31px;
    }

    /* ============= */

    .subscribe__text {
      font-size: 13px;
    }

    .subscribe__input {
      width: 100%;
    }
  }